{% extends "plugins/themes-admin/templates/partials/base.html" %}

{% block content %}
    <form method="post" id="form">
        {{ csrf() }}
        <input type="hidden" name="mailbox" value="{{ mailbox }}">
        <div class="flex row">
            <div class="col w-full lg:w-4/12">
                <div class="form-group">
                    <label for="id" class="form-control-title">{{ tr('mailboxes_admin_name') }}</label>
                    <input type="text" id="id" name="id" readonly value="{{ uuid }}" class="form-control" required="required" data-parsley-minlength="1" data-parsley-error-message="{{ tr('mailboxes_admin_error_name_empty_input') }}" data-parsley-required="true">
                    <small>{{ tr('mailboxes_admin_help_text_for_temlates_name') }}</small>
                </div>
                <div class="button-group">
                    <div class="button-dropdown">
                        <input type="submit" id="create" name="create" value="{{ tr('mailboxes_admin_create') }}" class="button">
                        <a href="javascript:;" class="button js-dropdown-btn" data-dropdown="dropdown-list-create-new-template">
                            <i class="icon icon--white">{{ icon('fas fa-sort-down') }}</i>
                        </a>
                        <div id="dropdown-list-create-new-template" class="dropdown">
                            <input type="submit" id="create-and-edit" name="create-and-edit" value="{{ tr('mailboxes_admin_create_and_edit') }}" class="dropdown__item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
